:root{
    --Primary: #778A50;
}
*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans";
    background-color: #EDF2C5;
    height: 100vh;
    min-width: 375px;
}
.container{
    padding: 40px 9%;
}
.title{
    color: var(--Primary);
    padding-bottom: 10px;
    font-size: 2.75rem;
    font-weight: 900;
    margin-left: 0;
    margin-bottom: 10px;
}
.botton{
    display:flex;
    border: 1px solid #778A50;
    border-radius: 3px;
    padding: 5px;
}

ul{
    display: flex;
    list-style: none;
    padding-right: 40%;
    padding-left: 30px;
}
a{
    text-decoration: none;
    color: #EDF2C5;
    
}
a h4{
    font-size: 16px;
    font-weight: 900;
}

.subtitle-container{
    color: #EDF2C5;
    background-color: var(--Primary);
    border-radius: 3px;
    height: 45px;
    padding-left: 30px;
    margin-bottom: 1rem;
    line-height: 45px;
}
.nav-container{
    width: auto;
    background-color: var(--Primary);
    border-radius: 3px;
    height: 44px;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 44px;
}

#img-main{
    width: 100%;
    margin-top: 10px;
    margin-bottom:2rem;
    background-size: contain;
}

.img-container{
    display:flex;
    width: 100%;
    height: 8.75rem;
    gap:1rem;
    justify-content: space-between;
    overflow: hidden;
}
.img-container img{
    height: 135%;
    margin-top: -25px;
}
.cut{
    width:35%;
    overflow: hidden;
}

.content-right, .content-left{
    width: 48%;
    margin:0;
    height: 12.5rem;
    margin-bottom: 2rem;
    min-width: 307.5px;
}

.content-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15%;
}

.head-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 100%;
    margin-bottom: 1.5rem;
}
#first{
    margin-left: 0;
}

.title-container{
    height: 24px;
    display:flex;
    margin-right: 0;
}

.title-container p{
    margin-left: 10px;
    color: var(--Primary);
}
#ig{
    padding: 0 10px;
    border-right: 1px solid #778A50;
}

.right-p-content{
    background-color: #F7FBDA;
    padding:2.5% 16px;
    height: 70%;
}

.right-p-content p{
    font-size: 12px;
    line-height: 20px;
    color: #7D7D7D;
}
hr{
    margin: 4px 0;
}

footer{
    background-color: var(--Primary);
    height: 60px;
    margin: 0 auto;
    border-radius: 3px;
}

footer p{
    line-height: 60px;
    color:#EDF2C5;
    text-align: center;
    font-size: 12px;
}